/* 메인페이지 swiper*/
.main-page-swiper {
    position: relative;
    width: 90%;
}

.main-page-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 메인페이지 pagination*/
.swiper-pagination-sell, .swiper-pagination-share {
    display: flex;
    justify-content: center;
    z-index: 5;
    margin-top: 20px;
    bottom: 20px; /* 원하는 만큼 아래로 내리기 */
}

/* 페이지네이션의 각 불릿 스타일 */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #6F4E37;
    opacity: 0.5;
    margin: 0 8px;
}

/* 활성화된 페이지네이션 불릿 */
.swiper-pagination-bullet-active {
    opacity: 1;
}

/* 메인페이지 navigation 버튼*/
.swiper-button-prev-sell,
.swiper-button-prev-share,
.swiper-button-next-sell,
.swiper-button-next-share {
    position: absolute;
    cursor: pointer;
    top: 45%;
    width: 60px;
    height: 40px;
    display: flex;
    z-index: 10;
}

.swiper-button-prev-sell,
.swiper-button-prev-share {
    left: 10px;
    transform: rotate(180deg);
}

.swiper-button-next-sell,
.swiper-button-next-share {
    right: 10px;
}


/* 상품 페이지 swiper */
.product-page-swiper {
    width: 75%;
    height: auto;
    background-color: #f8f9fa;
    aspect-ratio: 1;
    background-image: url('/image/default.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-page-swiper-slide {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.product-page-swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    aspect-ratio: 1;
    object-fit: cover; /* 이미지가 비율을 유지하면서 꽉 채워짐 */
}

/* 상품 페이지 swiper */
.product-detail-swiper {
    width: 50%;
    height: auto;
    background-color: #f8f9fa;
    aspect-ratio: 1;
    background-image: url('/image/default.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail-swiper-slide {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.product-detail-swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    aspect-ratio: 1;
    object-fit: cover; /* 이미지가 비율을 유지하면서 꽉 채워짐 */
}

