.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
    display: block;
    width: 8px;
    overflow: auto;

}

/*::-webkit-scrollbar {*/
/*    width: 12px; !* 수평 스크롤바의 경우 height로 설정 *!*/
/*}*/