/* ChatMessageContainer.css */
.ScrollBarContainer::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    background-color: #aaa; /* 또는 트랙에 추가한다 */
}

.ScrollBarContainer::-webkit-scrollbar-thumb {
    background: #000;
    height: 1px;
}

::-webkit-scrollbar {
    width: 12px; /* 수평 스크롤바의 경우 height로 설정 */
}